.review-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 50px 20px;
}

@media screen and (max-width: 556px) {
    .review-section{
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 800px) {
    .review-section{
        grid-template-columns: repeat(2, 1fr);
    }
}